<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.ssm.exam.dao.UserDAO">
    <select id="getUserByAccount" resultType="User" parameterType="String">
        select id,account,password from user where account=#{account}
    </select>
</mapper>